html {
	background-color: #4F383B;
}

#image-header {
	display: block;
    margin: 0 auto;
}

#image-footer {
	display: block;
    margin: 0 auto;
}

#intro-header {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 6px;
}

h1 {
	font-size: 40px;
	font-family: Helvetica;
	color: #FFFFFF;
}

h2 {
	font-size: 30px;
	font-family: Helvetica;
	color: #FFFFFF;
}
p, ol, ul, a {
	font-size: 20px;
	font-family: Helvetica;
	color: #FFFFFF;
}

a {
	font-size: 20px;
	font-family: Helvetica;
	color: #CC2729;
	font-weight: bold;
	text-decoration: none;
}



.album-image {
	display: block;
    margin: 0 auto;
    float: right;

}

.track-listing {
	margin: 30px;
	width: 35%;
	position: left;
	/* The following declarations are used
	to help me see the positioning of the track lists.
	I comment them out when I don't need to see
	what's going on anymore.

	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	*/
}